/* 비밀번호 재설정 페이지 스타일 */
.password-reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.password-reset-form {
    width: 300px;
    text-align: center;
}

.password-reset-form label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.password-reset-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.password-reset-form button {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.password-reset-form button:hover {
    background-color: #333;
}
