body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
    background-color: #f4f4f4;
}

/* 네비게이션 바 스타일 */
.navbar {
    background-image: url('images/bg.png'); /* 이미지 경로를 설정하세요 */
    background-size: cover; /* 이미지가 전체 배경을 덮도록 설정 */
    background-position: center; /* 이미지를 중앙에 배치 */
    color: #333;
    padding: 10px 0;
}

/* 공통 컨테이너 스타일 */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

.logo-banner {
    display: flex;
    align-items: center; 
    margin-left: 70px;
}

.banner img {
    width: 250px;
    height: auto;
    display: block;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #f6f6f6;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ff6347;
}

